body {
    font-family: cursive;
    color: deeppink;
    text-align: center;
    background-color: #222;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#container {
    text-align: left;
    width: 70%;
    border: 1px solid #444;
    margin: 0 auto;
}

p {
    color: rgb(167, 83, 128);
    margin: 1em auto;
}

#cabecera {
    color: white;
    background-color: purple;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}